%tr
  %td= link_to table.created_at.strftime("%-d %B'%y %H:%M:%S %:z"), request_path(:id => table.id)
  %td= table.remote_ip
  %td= table.method
  %td= table.scheme
  %td
    %p.min= table.query_string
  %td
    %p.min= table.query_params
  %td
    %p.min= table.cookies
  %td
    %p.min= table.headers